<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>provider</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.ProviderView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>providerservice</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.ProviderServiceView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardview</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.DashboardView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>monitoringstartstop</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.MonitoringStartStop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboarddetailview</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.DashboardDetailView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alertview</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.AlertView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendalertview</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.sendAlertView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>providerhistoryview</servlet-name>
        <servlet-class>br.com.monitoranuvem.view.ProviderHistoryView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>provider</servlet-name>
        <url-pattern>/provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>providerservice</servlet-name>
        <url-pattern>/providerservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardview</servlet-name>
        <url-pattern>/dashboardview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>monitoringstartstop</servlet-name>
        <url-pattern>/monitoringstartstop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboarddetailview</servlet-name>
        <url-pattern>/dashboarddetailview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alertview</servlet-name>
        <url-pattern>/alertview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendalertview</servlet-name>
        <url-pattern>/sendalertview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>providerhistoryview</servlet-name>
        <url-pattern>/providerhistoryview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errors/erro.jsp?description=JavaException</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/errors/erro.jsp?description=SQLException</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/errors/erro.jsp?description=ServletException</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errors/erro403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/erro404.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/errors/erro405.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/erro500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/errors/erro503.jsp</location>
    </error-page>
</web-app>
